In [1]:
import pandas as pd

In [2]:
df = pd.read_json('./big_nfl_data.json', orient='records')

In [3]:
df.head()

,player_id,year,game_id,date,game_number,age,team,game_location,opponent,game_won,...,defense_interception_yards,defense_interception_touchdowns,defense_safeties,point_after_attemps,point_after_makes,field_goal_attempts,field_goal_makes,punting_attempts,punting_yards,punting_blocked
0,4088,1992,199209130ram,1992-09-13,1,23.190,NWE,A,RAM,False,...,0,0,0,0,0,0,0,0,0,0
1,4088,1992,199209200nwe,1992-09-20,2,23.197,NWE,H,SEA,False,...,0,0,0,0,0,0,0,0,0,0
2,4088,1992,199209270nwe,1992-09-27,3,23.204,NWE,H,BUF,False,...,0,0,0,0,0,0,0,0,0,0
3,4088,1992,199210040nyj,1992-10-04,4,23.211,NWE,A,NYJ,False,...,0,0,0,0,0,0,0,0,0,0
4,4088,1992,199210110nwe,1992-10-11,5,23.218,NWE,H,SFO,False,...,0,0,0,0,0,0,0,0,0,0

where are the stats for two-point conversions

In [5]:
df.shape

(495410, 47)

In [8]:
df = df.loc[df["year"] > 1989]

In [18]:
offense_df = df.loc[(df["defense_sacks"] < 1) & (df["defense_tackles"] < 1) & (df["defense_tackle_assists"] < 1) & (df["defense_interceptions"] < 1) & (df["defense_interception_yards"] < 1) & (df["defense_interception_touchdowns"] < 1) & (df["defense_safeties"] < 1)]

In [19]:
offense_df

,player_id,year,game_id,date,game_number,age,team,game_location,opponent,game_won,...,defense_interception_yards,defense_interception_touchdowns,defense_safeties,point_after_attemps,point_after_makes,field_goal_attempts,field_goal_makes,punting_attempts,punting_yards,punting_blocked
0,4088,1992,199209130ram,1992-09-13,1,23.190,NWE,A,RAM,False,...,0,0,0,0,0,0,0,0,0,0
1,4088,1992,199209200nwe,1992-09-20,2,23.197,NWE,H,SEA,False,...,0,0,0,0,0,0,0,0,0,0
2,4088,1992,199209270nwe,1992-09-27,3,23.204,NWE,H,BUF,False,...,0,0,0,0,0,0,0,0,0,0
3,4088,1992,199210040nyj,1992-10-04,4,23.211,NWE,A,NYJ,False,...,0,0,0,0,0,0,0,0,0,0
4,4088,1992,199210110nwe,1992-10-11,5,23.218,NWE,H,SFO,False,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495385,916,2000,200011300min,2000-11-30,13,24.093,DET,A,MIN,False,...,0,0,0,0,0,0,0,0,0,0
495387,916,2000,200012170nyj,2000-12-17,15,24.110,DET,A,NYJ,True,...,0,0,0,0,0,0,0,0,0,0
495401,916,2002,200209080mia,2002-09-08,1,26.010,DET,A,MIA,False,...,0,0,0,0,0,0,0,0,0,0
495404,916,2002,200209290det,2002-09-29,4,26.031,DET,H,NOR,True,...,0,0,0,0,0,0,0,0,0,0
495406,916,2002,200210200det,2002-10-20,6,26.052,DET,H,CHI,True,...,0,0,0,0,0,0,0,0,0,0

In [20]:
offense_df.columns

Index(['player_id', 'year', 'game_id', 'date', 'game_number', 'age', 'team',
       'game_location', 'opponent', 'game_won', 'player_team_score',
       'opponent_score', 'passing_attempts', 'passing_completions',
       'passing_yards', 'passing_rating', 'passing_touchdowns',
       'passing_interceptions', 'passing_sacks', 'passing_sacks_yards_lost',
       'rushing_attempts', 'rushing_yards', 'rushing_touchdowns',
       'receiving_targets', 'receiving_receptions', 'receiving_yards',
       'receiving_touchdowns', 'kick_return_attempts', 'kick_return_yards',
       'kick_return_touchdowns', 'punt_return_attempts', 'punt_return_yards',
       'punt_return_touchdowns', 'defense_sacks', 'defense_tackles',
       'defense_tackle_assists', 'defense_interceptions',
       'defense_interception_yards', 'defense_interception_touchdowns',
       'defense_safeties', 'point_after_attemps', 'point_after_makes',
       'field_goal_attempts', 'field_goal_makes', 'punting_attempts',
       'punting_yards', 'punting_blocked'],
      dtype='object')

In [ ]:
def score_calc(stats_vec):
    weights_vec= np.array()